:root{

--primary:#2563EB;

--primary-dark:#1D4ED8;

--background:#030712;

--card:#111827;

--card-hover:#1F2937;

--text:#F8FAFC;

--paragraph:#94A3B8;

--border:#374151;

--radius:14px;

--shadow:0 15px 35px rgba(0,0,0,.35);

}