.faq{

padding:80px;

}

.faq h2{

text-align:center;

margin-bottom:50px;

}

.faq-box{

background:#111826;

padding:25px;

margin-bottom:20px;

border-radius:10px;

}

.faq-box h3{

color:#0D6EFD;

margin-bottom:10px;

}