.features{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:40px 80px;
    background:#0b1629;
}

.feature-card{
    background:#111c30;
    padding:25px;
    text-align:center;
    border-radius:10px;
    transition:.3s;
}

.feature-card:hover{
    transform:translateY(-8px);
    border:1px solid #0D6EFD;
}

.feature-card span{
    font-size:40px;
}

.feature-card h3{
    margin:15px 0;
    color:#0D6EFD;
}

.feature-card p{
    color:#d8d8d8;
}

@media(max-width:768px){

.navbar{

padding:20px;

flex-direction:column;

height:auto;

}

.hero{

flex-direction:column;

padding:120px 20px;

text-align:center;

}

.hero-left,

.hero-right{

width:100%;

}

.hero-left h1{

font-size:42px;

line-height:50px;

}

.features,

.product-grid,

.stats,

.why-grid{

grid-template-columns:1fr;

}

.about,

.contact{

flex-direction:column;

padding:40px 20px;

}

.about-text,

.about-image,

.contact-info,

.contact-form{

width:100%;

}

}