.inquiry-box{
    margin-top:50px;
    background:#111826;
    padding:35px;
    border-radius:10px;
}

.inquiry-box h2{
    color:#0D6EFD;
    margin-bottom:25px;
}

.inquiry-box input{
    width:100%;
    padding:15px;
    margin-bottom:18px;
    background:#05070D;
    color:white;
    border:1px solid #333;
    border-radius:6px;
    font-size:16px;
}

.inquiry-box button{
    width:100%;
    padding:16px;
    background:#0D6EFD;
    color:white;
    border:none;
    border-radius:6px;
    font-size:17px;
    transition:.3s;
}

.inquiry-box button:hover{
    background:#0056d6;
}