.loader{
  position:fixed;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#030712;
  z-index:9999;
}

.spinner{
  width:60px;
  height:60px;
  border:6px solid #374151;
  border-top:6px solid #2563EB;
  border-radius:50%;
  animation:spin 1s linear infinite;
}

@keyframes spin{
  to{
    transform:rotate(360deg);
  }
}