.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    margin:70px 0;
}

.stat-card{
    background:#101828;
    border-radius:18px;
    padding:35px;
    text-align:center;
}

.stat-card h2{
    font-size:45px;
    color:#2f7bff;
}

.stat-card p{
    color:white;
    font-size:18px;
}
@media(max-width:768px){

.navbar{

padding:20px;

flex-direction:column;

height:auto;

}

.hero{

flex-direction:column;

padding:120px 20px;

text-align:center;

}

.hero-left,

.hero-right{

width:100%;

}

.hero-left h1{

font-size:42px;

line-height:50px;

}

.features,

.product-grid,

.stats,

.why-grid{

grid-template-columns:1fr;

}

.about,

.contact{

flex-direction:column;

padding:40px 20px;

}

.about-text,

.about-image,

.contact-info,

.contact-form{

width:100%;

}

}