.whatsapp{

position:fixed;

right:30px;

bottom:30px;

width:65px;

height:65px;

background:#25D366;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:35px;

color:white;

box-shadow:0 10px 25px rgba(0,0,0,.4);

z-index:999;

}

@media(max-width:768px){

.navbar{

padding:20px;

flex-direction:column;

height:auto;

}

.hero{

flex-direction:column;

padding:120px 20px;

text-align:center;

}

.hero-left,

.hero-right{

width:100%;

}

.hero-left h1{

font-size:42px;

line-height:50px;

}

.features,

.product-grid,

.stats,

.why-grid{

grid-template-columns:1fr;

}

.about,

.contact{

flex-direction:column;

padding:40px 20px;

}

.about-text,

.about-image,

.contact-info,

.contact-form{

width:100%;

}

}