.scroll-top{

position:fixed;

right:25px;

bottom:100px;

width:55px;

height:55px;

background:#2563EB;

color:white;

border:none;

border-radius:50%;

font-size:18px;

cursor:pointer;

z-index:999;

transition:.3s;

}

.scroll-top:hover{

transform:translateY(-5px);

}