.banner{

padding:90px;

background:#0D6EFD;

text-align:center;

}

.banner h2{

font-size:48px;

margin-bottom:20px;

}

.banner p{

font-size:20px;

margin-bottom:30px;

}

.banner button{

padding:18px 40px;

font-size:18px;

background:white;

color:#0D6EFD;

border:none;

border-radius:8px;

}