
.categories{

padding:80px;

background:#08111f;

}

.categories h2{

text-align:center;

font-size:42px;

margin-bottom:50px;

}

.category-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.category-card{

background:#111826;

padding:40px;

border-radius:12px;

text-align:center;

transition:.3s;

cursor:pointer;

}

.category-card:hover{

transform:translateY(-10px);

background:#0D6EFD;

}



