/* ===== Navbar ===== */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;

    background:rgba(5,11,23,.95);
    backdrop-filter:blur(10px);

    border-bottom:1px solid rgba(255,255,255,.08);

    z-index:999;
}

/* Container */

.nav-container{

    max-width:1280px;
    height:100%;

    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 40px;
}

/* Logo */

.logo img{

    height:55px;
    width:auto;
    display:block;
}

/* Navigation */

.nav-links{

    display:flex;
    align-items:center;
    gap:45px;

    list-style:none;
    margin:0;
    padding:0;
}

.nav-links a{

    color:white;

    text-decoration:none;

    font-size:17px;

    font-weight:500;

    transition:.3s;
}

.nav-links a:hover{

    color:#2F7BFF;
}

/* Button */

.quote-btn{

    display:flex;
    align-items:center;
    gap:10px;

    text-decoration:none;

    background:#2F7BFF;

    color:white;

    padding:14px 28px;

    border-radius:10px;

    font-weight:600;

    transition:.3s;
}

.quote-btn:hover{

    background:#1D5FE0;

    transform:translateY(-2px);
}